//permission to access template files from file system

grant{
  permission java.io.FilePermission "templates/*", "read,write"
  permission java.io.FilePermission "reports/*", "read,write"
}