grant {
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.io.FilePermission "templates/-", "read,write";
  permission java.io.FilePermission "reports/-", "read,write";
  permission java.io.FilePermission "templates\-", "read,write";
  permission java.io.FilePermission "reports\-", "read,write";
};