grant {
  permission java.lang.RuntimePermission "*";
  permission java.lang.reflect.ReflectPermission "*";
  permission java.io.FilePermission "templates/-", "read,write";
  permission java.io.FilePermission "reports/-", "read,write";
  permission java.io.FilePermission "templates\-", "read,write";
  permission java.io.FilePermission "reports\-", "read,write";
  permission java.io.FilePermission "net/sf/jasperreports/-", "read,write";
  permission java.io.FilePermission "net\sf\jasperreports\-", "read,write";
  permission java.util.PropertyPermission "*", "read, write";
 };